*{
    box-sizing: border-box;
    position: relative;
    margin: 0px;
    padding: 0px;
}
.contentArea{
    position: relative;
    padding: 20px;
}
.product{
    display: inline-block;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: 0px 5px 10px #777777;
}
img{
    width: 100%;
    transition: 0.25 ease-in-out;
}
.product:hover img{
    transform: scale(1.1);
}
.description{
    position: absolute;
    padding: 5px;
    text-align: center;
    font-size: 25px;
    background: #333333;
    color: #ffffff;
    opacity: 0;
    width: 100%;
    z-index: 1;
    transition: 0.25 ease-in-out;
}
.price{
    bottom: 0px;
    position: absolute;
    padding: 5px;
    margin: 5px;
    font-size: 25px;
    background: #333333;
    color: #ffffff;
    border-radius: 5px;
    opacity: 0;
    z-index: 1;
    transition: 0.25 ease-in-out;
    right: 0px;
}
.product:hover .description,.product:hover .price{
    opacity: 1;
}
@media screen and (min-width:1400px){
    .contentArea{
        column-count: 4;
    }
    .description, .price{
        font-size: 20px;
    }
}
@media screen and (max-width:1399px){
    .contentArea{
        column-count: 4;
    }
    .description, .price{
        font-size: 15px;
    }
}
@media screen and (max-width:991px){
    .contentArea{
        column-count: 3;
    }
    .description, .price{
        font-size: 15px;
    }
}
@media screen and (max-width:575px){
    .contentArea{
        column-count: 2;
    }
    .description, .price{
        font-size: 15px;
    }
}