*{
    box-sizing: border-box;
}
body{
    
}
.product{
    margin: 1%;
    width: 20%;
    box-shadow: 0px 10px 20px #666666;
}
.description,.price{
    display: inline-block;
}
.price{
    float: right;
}
.product img{
    margin: auto;
    display: block;
    margin-top: 10px;
    height: 200px;
    max-width: 100%;
}
.product:hover{
    box-shadow: 0px 10px 20px #333333;
    cursor: pointer;
}