*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
div.logo{
  width: 200px;
}
#nav_bar{
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  padding: 10px;
  background-color: black;
}
.list{
  list-style-type: none;
}
.list li
{
  font-family: 'Open Sans Condensed', sans-serif;
  display: inline-block;
  padding: 0px 10px;
}
.list li a{
  color: white;
  text-decoration: none;
}
.search-bar input{
  width: 450px;
  height: 30px;
  border-radius: 5px;
  margin-right: 150px;
}
.logo img{
  width: 45%;
  margin-left: 40px;
}
